MessageImporter/XSD20/addressbook.xsd

<?xml version="1.0" encoding="Windows-1250" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 
			xmlns:adb="http://www.stormware.cz/schema/version_2/addressbook.xsd"
			xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"
			xmlns="http://www.stormware.cz/schema/version_2/addressbook.xsd" 
			targetNamespace="http://www.stormware.cz/schema/version_2/addressbook.xsd"
			elementFormDefault="qualified">
			
<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd" />
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" schemaLocation="documentresponse.xsd" />
<xsd:import namespace="http://www.stormware.cz/schema/version_2/filter.xsd" schemaLocation="filter.xsd" />
	
	<!-- **************************************************************************
	root element must be <addressbook>
	************************************************************************** -->

<!-- REQUEST -->

	<xsd:element name="addressbook" type="adb:addressbookType" />

	<!-- **************************************************************************
		addressbook
	 ************************************************************************** -->
	 
	<xsd:complexType name="addressbookType">
		<xsd:sequence>
			<xsd:element name="actionType" type="adb:actionTypeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Typ práce s dokladem. Výchozí hodnota je pøidání nového dokladu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="addressbookHeader" type="adb:addressbookHeaderType"  minOccurs="0"/>
			<xsd:element name="addressbookAccount" type="adb:addressbookAccountType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="adb:adbVersionType" use="required" />
	</xsd:complexType>
	
	<xsd:simpleType name="adbVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>
	
	<xsd:complexType name="addressbookHeaderType">
		<xsd:all>
			<xsd:element name="id" type="typ:idType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ID adresy. Používá se pøi requestu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="identity" type="typ:address" minOccurs="0">
			<xsd:annotation>
					<xsd:documentation>Základní údaje</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="region" type="typ:string32" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Název kraje.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phone" type="typ:string40" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Telefon.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mobil" type="typ:string24" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mobil.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fax" type="typ:string24" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fax.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="email" type="typ:string98" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Email.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="web" type="typ:string32" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Adresa www stránek.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adGroup" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Skupiny.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="adKey" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Klíèe.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="credit" type="typ:currencyType" minOccurs="0" default="0">        
				<xsd:annotation>
					<xsd:documentation>Kredit, tolerovaná výše pohledávek odbìratele.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="priceIDS" type="typ:string10" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cenová hladina odbìratele.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maturity" type="xsd:short" minOccurs="0" default="0">
			  <xsd:annotation>
					<xsd:documentation>Splatno. Poèet dnù splatnosti faktur. Pøi vložení adresy 
            do faktury se nastaví datum splatnosti pøiètením zde uvedeného poètu dnù k datu vystavení faktury.
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentType" type="typ:paymentType" minOccurs="0">
  			<xsd:annotation>
  				<xsd:documentation>Forma úhrady.</xsd:documentation>
  			</xsd:annotation>
		  </xsd:element>
			<xsd:element name="agreement" type="typ:string12" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Èíslo obchodní smlouvy (nesmí být povoleno v Globálním nastavení - Èíslování zákazníkù). Od verze 1.5.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="number" type="typ:numberADType" minOccurs="0">
  			<xsd:annotation>
  				<xsd:documentation>Èíslo dodavatele/odbìratele dle zvolené èíselné øady (musí být povoleno v Globálním nastavení - Èíslování zákazníkù).</xsd:documentation>
  			</xsd:annotation>
		  </xsd:element>
			<xsd:element name="ost1" type="typ:string8" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ostatní.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ost2" type="typ:string8" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ostatní. Používá se také u kontaktní osoby.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Následující elementy se používá se jen u kontaktní osoby. -->
			<xsd:element name="function" type="typ:string32" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Název funkce. Používá se jen u kontaktní osoby.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="personalIdentificationNumber" type="typ:string11" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Rodné èíslo. Používá se jen u kontaktní osoby.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="salutation" type="typ:string32" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Oslovení pro použití v korespondenci. Používá se jen u kontaktní osoby.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="sex" type="typ:sexType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pohlaví. Používá se jen u kontaktní osoby.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="dateOfBirth" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Datum narození. Používá se jen u kontaktní osoby.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Konec - kontaktní osoby -->
			<xsd:element name="p1" type="typ:boolean" minOccurs="0" default="false">
				<xsd:annotation>
					<xsd:documentation>Klíè P1 / Dodavatel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="p2" type="typ:boolean" minOccurs="0" default="false">
				<xsd:annotation>
					<xsd:documentation>Klíè P2 / Odbìratel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="p3" type="typ:boolean" minOccurs="0" default="false">
				<xsd:annotation>
					<xsd:documentation>Klíè P3.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="p4" type="typ:boolean" minOccurs="0" default="false">
				<xsd:annotation>
					<xsd:documentation>Klíè P4.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="p5" type="typ:boolean" minOccurs="0" default="false">
				<xsd:annotation>
					<xsd:documentation>Klíè P5.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="p6" type="typ:boolean" minOccurs="0" default="false">
				<xsd:annotation>
					<xsd:documentation>Klíè P6.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="message" type="typ:string64" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Zpráva.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="note" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Poznámka.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="intNote" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Interní poznámka.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="accountingReceivedInvoice" type="typ:accountingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pøedkontace pøijaté faktury. Pokud není uveden typ pøedkontace, je nastaveno 'Nevím'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accountingIssuedInvoice" type="typ:accountingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pøedkontace vydané faktury. Pokud není uveden typ pøedkontace, je nastaveno 'Nevím'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classificationVATReceivedInvoice" type="typ:classificationVATType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Èlenìní DPH na pøijaté faktuøe</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classificationVATIssuedInvoice" type="typ:classificationVATType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Èlenìní DPH na vydané faktuøe.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accountForInvoicing" type="typ:accountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bankovní úèet nebo hotovostní pokladna, na kterou chcete nechat proplatit tuto pohledávku. (Používá se jen u pohledávek.) Pokud není úèet uveden, POHODA použije úèet uvedený v uživatelském nastavení uživatele (pod kterým je spuštìn XML import).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="responsiblePerson" type="typ:responsiblePersonType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Odpovìdná osoba.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="toleranceMaturity" type="xsd:short" minOccurs="0" default="0">
				<xsd:annotation>
					<xsd:documentation>Poèet dnù tolerované splatnosti faktur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="centre" type="typ:refType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Støedisko èinnosti.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="activity" type="typ:refType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Èinnost.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contract" type="typ:refType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Zakázka.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Volitelný parametr.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="refAddress" type="typ:refAddressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Odkaz kontaktní osoby na hlavní adresu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	
	
	<xsd:complexType name="addressbookAccountType">
		<xsd:sequence>
			<xsd:element name="accountItem" type="adb:accountItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="accountItemType">
		<xsd:all>
			<xsd:element name="actionType" type="typ:actionTypeItem" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Typ práce s bankovním úètem. Výchozí hodnota je pøidání nové bankovního úètu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="id" type="typ:idType" minOccurs="0">
			  <xsd:annotation>
				  <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
			  </xsd:annotation>
		  </xsd:element>	
			<xsd:element name="accountNumber" type="typ:string34" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Èíslo bankovního úètu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
				</xsd:annotation>		
			</xsd:element>
			<xsd:element name="symSpec" type="typ:symSpecType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specificky symbol.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bankCode" type="typ:bankCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Kód banky.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="defaultAccount" type="typ:boolean" minOccurs="0" default="false">
				<xsd:annotation>
					<xsd:documentation>Výchozí úèet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="actionTypeType">
		<xsd:choice>
			<xsd:element name="add" type="ftr:requestAddressBookType">
				<xsd:annotation>
					<xsd:documentation>Vložení nového záznamu. Výchozí hodnota.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="update" type="ftr:requestAddressBookType">
				<xsd:annotation>
					<xsd:documentation>Aktualizace dokladu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- <xsd:element name="delete" type="ftr:requestStockType">
			<xsd:annotation>
				<xsd:documentation>odstranìní dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element -->
		</xsd:choice>
	</xsd:complexType>
	
<!-- RESPONSE -->

<xsd:element name="addressbookResponse" type="adb:addressbookResponseType"/>

<xsd:complexType name="addressbookResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>
	
</xsd:schema>
