MessageImporter/XSD20/list.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
			xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
			xmlns:lst="http://www.stormware.cz/schema/version_2/list.xsd"
			xmlns:inv="http://www.stormware.cz/schema/version_2/invoice.xsd"
			xmlns:ord="http://www.stormware.cz/schema/version_2/order.xsd"
			xmlns:enq="http://www.stormware.cz/schema/version_2/enquiry.xsd"
			xmlns:ofr="http://www.stormware.cz/schema/version_2/offer.xsd"
			xmlns:prm="http://www.stormware.cz/schema/version_2/parameter.xsd"
			xmlns:vyd="http://www.stormware.cz/schema/version_2/vydejka.xsd"
			xmlns:pri="http://www.stormware.cz/schema/version_2/prijemka.xsd"
			xmlns:bal="http://www.stormware.cz/schema/version_2/balance.xsd"
			xmlns:ctg="http://www.stormware.cz/schema/version_2/category.xsd"
			xmlns:ipm="http://www.stormware.cz/schema/version_2/intParam.xsd"
			xmlns:int="http://www.stormware.cz/schema/version_2/intDoc.xsd"
			xmlns:pro="http://www.stormware.cz/schema/version_2/prodejka.xsd"
			xmlns:vch="http://www.stormware.cz/schema/version_2/voucher.xsd"
			xmlns:vyr="http://www.stormware.cz/schema/version_2/vyroba.xsd"
			xmlns:pre="http://www.stormware.cz/schema/version_2/prevodka.xsd"
			xmlns:idp="http://www.stormware.cz/schema/version_2/individualPrice.xsd"
			xmlns:sup="http://www.stormware.cz/schema/version_2/supplier.xsd"
			xmlns="http://www.stormware.cz/schema/version_2/list.xsd"
			targetNamespace="http://www.stormware.cz/schema/version_2/list.xsd"
			elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/filter.xsd" schemaLocation="filter.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/invoice.xsd" schemaLocation="invoice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/order.xsd" schemaLocation="order.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/offer.xsd" schemaLocation="offer.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/enquiry.xsd" schemaLocation="enquiry.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/parameter.xsd" schemaLocation="parameter.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/vydejka.xsd" schemaLocation="vydejka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prijemka.xsd" schemaLocation="prijemka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/balance.xsd" schemaLocation="balance.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/category.xsd" schemaLocation="category.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/intParam.xsd" schemaLocation="intParam.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/intDoc.xsd" schemaLocation="intDoc.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prodejka.xsd" schemaLocation="prodejka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/voucher.xsd" schemaLocation="voucher.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/vyroba.xsd" schemaLocation="vyroba.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prevodka.xsd" schemaLocation="prevodka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/individualPrice.xsd" schemaLocation="individualPrice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/supplier.xsd" schemaLocation="supplier.xsd"/>

<!-- ************************************************************************** -->
<!-- root element REQUEST - požadavek na export -->
<xsd:element name="listCentreRequest" type="lst:listRequestType"/>
<xsd:element name="listActivityRequest" type="lst:listRequestType"/>
<xsd:element name="listCashRequest" type="lst:listRequestType"/>
<xsd:element name="listAccountingSingleEntryRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="listAccountingDoubleEntryRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="listAccountRequest" type="lst:listRequestType"/>
<xsd:element name="listNumericSeriesRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="createAccountingDoubleEntry" type="lst:createAccountingDoubleEntryType"/>
<xsd:element name="listInvoiceRequest" type="lst:listInvoiceRequestType"/>
<xsd:element name="listIntDocRequest" type="lst:listIntDocRequestType"/>
<xsd:element name="listProdejkaRequest" type="lst:listProdejkaRequestType"/>
<xsd:element name="listVyrobaRequest" type="lst:listVyrobaRequestType"/>
<xsd:element name="listPrevodkaRequest" type="lst:listPrevodkaRequestType"/>
<xsd:element name="listVoucherRequest" type="lst:listVoucherRequestType"/>
<xsd:element name="listOrderRequest" type="lst:listOrderRequestType"/>
<xsd:element name="listEnquiryRequest" type="lst:listEnquiryRequestType"/>
<xsd:element name="listOfferRequest" type="lst:listOfferRequestType"/>
<xsd:element name="listParameterRequest" type="lst:listParameterRequestType"/>
<xsd:element name="listUserCodeRequest" type="lst:listUserCodeRequestType"/>
<xsd:element name="listVydejkaRequest" type="lst:listVydejkaRequestType"/>
<xsd:element name="listPrijemkaRequest" type="lst:listPrijemkaRequestType"/>
<xsd:element name="listStorageRequest" type="lst:listRequestStoresType"/>
<xsd:element name="listSellingPriceRequest" type="lst:listRequestType"/>
<xsd:element name="listBalanceRequest" type="lst:listBalanceRequestType"/>
<xsd:element name="listCategoryRequest" type="lst:listCategoryRequestType"/>
<xsd:element name="listIntParamRequest" type="lst:listIntParamRequestType"/>
<xsd:element name="listIndividualPriceRequest" type="lst:listIndividualPriceRequestType"/>
<xsd:element name="listSupplierRequest" type="lst:listSupplierRequestType"/>

<!-- ************************************************************************** -->
<!-- root element RESPONSE  - ödpovìï na export seznamù -->
<xsd:element name="listCentre" type="lst:listCentreType"/>
<xsd:element name="listActivity" type="lst:listActivityType"/>
<xsd:element name="listContract" type="lst:listContractType"/>
<xsd:element name="listCash" type="lst:listCashType"/>
<xsd:element name="listAccountingSingleEntry" type="lst:listAccountingSingleEntryType"/>
<xsd:element name="listAccountingDoubleEntry" type="lst:listAccountingDoubleEntryType"/>
<xsd:element name="listAccount" type="lst:listAccountType"/>
<xsd:element name="listNumericSeries" type="lst:listNumericSeriesType"/>
<xsd:element name="createAccountingDoubleEntryResponse" type="lst:createAccountingDoubleEntryResponseType"/>  <!--  odpovìï na vytvoøení nového záznamu  -->
<xsd:element name="listInvoice" type="lst:listInvoiceType"/>
<xsd:element name="listIntDoc" type="lst:listIntDocType"/>
<xsd:element name="listProdejka" type="lst:listProdejkaType"/>
<xsd:element name="listVyroba" type="lst:listVyrobaType"/>
<xsd:element name="listPrevodka" type="lst:listPrevodkaType"/>
<xsd:element name="listVoucher" type="lst:listVoucherType"/>
<xsd:element name="listOrder" type="lst:listOrderType"/>
<xsd:element name="listEnquiry" type="lst:listEnquiryType"/>
<xsd:element name="listOffer" type="lst:listOfferType"/>
<xsd:element name="listParameter" type="lst:listParameterType"/>
<xsd:element name="listUserCode" type="lst:listUserCodeType"/>
<xsd:element name="listUserCodePack" type="lst:listUserCodePackType"/>
<xsd:element name="listVydejka" type="lst:listVydejkaType"/>
<xsd:element name="listPrijemka" type="lst:listPrijemkaType"/>
<xsd:element name="listStorage" type="lst:listStorageType"/>
<xsd:element name="listSellingPrice" type="lst:listSellingPriceType"/>
<xsd:element name="listBalance" type="lst:listBalanceType"/>
<xsd:element name="listCategory" type="lst:listCategoryType"/>
<xsd:element name="listIntParam" type="lst:listIntParamType"/>
<xsd:element name="taxDataResponse" type="lst:listVersionTypeTax"/>
<xsd:element name="listIndividualPrice" type="lst:listIndividualPriceType"/>
<xsd:element name="listSupplier" type="lst:listSupplierType"/>

<!-- **************************************************************************
		base types
	 ************************************************************************** -->

<xsd:complexType name="listRequestType">
	<xsd:attribute name="version" type="xsd:string" use="required">
  	<xsd:annotation>
  		<xsd:documentation>Verze exportovaného XML. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml.</xsd:documentation>
  	</xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="listRequestAgendasType">
	<xsd:complexContent>
		<xsd:extension base="lst:listRequestType">
			<xsd:sequence minOccurs="0" maxOccurs="1">
				<xsd:element name="agendas">					
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="agenda" type="lst:agendaType" minOccurs="0" maxOccurs="unbounded">	
								<xsd:annotation>
									<xsd:documentation>Výèet agend, pro které se vyexportují data.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listRequestStoresType">
	<xsd:complexContent>
		<xsd:extension base="lst:listRequestType">
			<xsd:sequence minOccurs="0" maxOccurs="1">
				<xsd:element name="stores">					
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="store" type="typ:refType" maxOccurs="unbounded">	
								<xsd:annotation>
									<xsd:documentation>Výèet skladù, pro které se vyexportují data. Pokud není uveden, vyexportují se všechny data.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="createAccountingDoubleEntryType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="createAccounting" type="lst:createAccountingType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:createAccountingVerType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="createAccountingVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>
		<xsd:enumeration value="1.1"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listInvoiceRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestInvoice" type="ftr:requestInvoiceType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listInvoiceRequestVerType" use="required"/>
	<xsd:attribute name="invoiceType" type="inv:invoiceTypeType" use="required"/>
	<xsd:attribute name="invoiceVersion" type="inv:invVersionType" use="required">
  	<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listInvoiceRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
	
<xsd:complexType name="listIntDocRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestIntDoc" type="ftr:requestIntDocType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listIntDocRequestVerType" use="required"/>
	<xsd:attribute name="intDocVersion" type="int:intVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listIntDocRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listOrderRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestOrder" type="ftr:requestOrderType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listOrderRequestVerType" use="required"/>
	<xsd:attribute name="orderType" type="ord:orderTypeType" use="required"/>
	<xsd:attribute name="orderVersion" type="ord:ordVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listOrderRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listProdejkaRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestProdejka" type="ftr:requestProdejkaType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listProdejkaRequestVerType" use="required"/>
	<xsd:attribute name="prodejkaVersion" type="pro:proVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listProdejkaRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listVyrobaRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestVyroba" type="ftr:requestVyrobaType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listVyrobaRequestVerType" use="required"/>
	<xsd:attribute name="vyrobaVersion" type="vyr:vyrVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listVyrobaRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listPrevodkaRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestPrevodka" type="ftr:requestPrevodkaType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listPrevodkaRequestVerType" use="required"/>
	<xsd:attribute name="prevodkaVersion" type="pre:preVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listPrevodkaRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listVoucherRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestVoucher" type="ftr:requestVoucherType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listVoucherRequestVerType" use="required"/>
	<xsd:attribute name="voucherVersion" type="vch:vchVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listVoucherRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listOfferRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestOffer" type="ftr:requestOfferType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listOfferRequestVerType" use="required"/>
	<xsd:attribute name="offerVersion" type="ofr:ofrVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listOfferRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listEnquiryRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestEnquiry" type="ftr:requestEnquiryType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listEnquiryRequestVerType" use="required"/>
	<xsd:attribute name="enquiryVersion" type="enq:enqVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listEnquiryRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listVydejkaRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestVydejka" type="ftr:requestVydejkaType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listVydejkaRequestVerType" use="required"/>
	<xsd:attribute name="vydejkaVersion" type="vyd:vydVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze výdejky.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listVydejkaRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listPrijemkaRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestPrijemka" type="ftr:requestPrijemkaType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listPrijemkaRequestVerType" use="required"/>
	<xsd:attribute name="prijemkaVersion" type="pri:priVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze výdejky.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listPrijemkaRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listBalanceRequestType">
	<xsd:sequence>
		<xsd:element name="requestBalance" type="lst:requestBalanceType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listBalanceRequestVerType" use="required"/>
	<xsd:attribute name="balanceVersion" type="bal:balVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>	

<xsd:simpleType name="listBalanceRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="1.0"/>			
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->    
<xsd:complexType name="listCategoryRequestType">
	<xsd:sequence minOccurs="0">
		<xsd:element name="requestCategory" type="lst:requestCategoryType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listCategoryRequestVerType" use="required"/>
</xsd:complexType>	

<xsd:simpleType name="listCategoryRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>			
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** --> 
<xsd:complexType name="listIntParamRequestType">
	<xsd:sequence minOccurs="0">
		<xsd:element name="requestIntParam" type="lst:requestIntParamType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listIntParamRequestVerType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="listIntParamRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>			
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listIndividualPriceRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestIndividualPrice" type="ftr:requestAddressBookType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listIndividualPriceRequestVerType" use="required"/>
	<xsd:attribute name="individualPriceVersion" type="idp:idpVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze výdejky.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listIndividualPriceRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>
	
<!-- ****************************************************************************** -->
<xsd:complexType name="listSupplierRequestType">
	<xsd:sequence minOccurs="1" maxOccurs="unbounded">
		<xsd:element name="requestSupplier" type="ftr:requestStockType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listSupplierRequestVerType" use="required"/>
	<xsd:attribute name="supplierVersion" type="idp:idpVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dodavatele.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="extSystem" type="typ:string64">
		<xsd:annotation>
			<xsd:documentation>Oznaèení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listSupplierRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
	
<xsd:complexType name="listCentreType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemCentre" type="lst:itemNameType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listActivityType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemActivity" type="lst:itemNameType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listContractType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemContract" type="lst:itemContractType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listCashType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemCash" type="lst:itemCashType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listAccountingSingleEntryType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="itemAccounting" type="lst:itemAccountingTypeSingleEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listAccountingDoubleEntryType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="itemAccounting" type="lst:itemAccountingTypeDoubleEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listStorageType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="itemStorage" type="lst:itemStorageType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listSellingPriceType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="itemSellingPrice" type="lst:itemSellingPriceType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listAccountType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemAccount" type="lst:itemAccountType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listNumericSeriesType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="itemNumericSeries" type="lst:itemNumericSeriesType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<!-- ****************************************************************************** -->
<xsd:complexType name="createAccountingDoubleEntryResponseType">
	<xsd:sequence>
		<xsd:element name="importDetails" type="rdc:importDetailsType"	minOccurs="0"  maxOccurs="1"/>
		<xsd:element name="createAccountingResponse" type="lst:createAccountingResponseType" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
	<xsd:attribute name="state" type="typ:stavType2" use="required"/>
	<xsd:attribute name="version" type="xsd:string" use="required"/>
</xsd:complexType>

<!-- ****************************************************************************** -->
<xsd:complexType name="listInvoiceType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="invoice" type="inv:invoiceType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listIntDocType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="intDoc" type="int:intDocType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listProdejkaType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="prodejka" type="pro:prodejkaType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listVyrobaType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="vyroba" type="vyr:vyrobaType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listPrevodkaType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="prevodka" type="pre:prevodkaType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
	
<xsd:complexType name="listVoucherType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="voucher" type="vch:voucherType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
	
<xsd:complexType name="listOrderType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="order" type="ord:orderType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listOfferType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="offer" type="ofr:offerType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listEnquiryType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="enquiry" type="enq:enquiryType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listVydejkaType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="vydejka" type="vyd:vydejkaType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listPrijemkaType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="prijemka" type="pri:prijemkaType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listBalanceType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="balance" type="bal:balanceType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listCategoryType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="categoryDetail" type="ctg:categoryDetailType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listIntParamType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="intParamDetail" type="ipm:intParamDetailType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listIndividualPriceType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="individualPrice" type="idp:individualPriceType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listSupplierType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="supplier" type="sup:supplierType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<!-- ****************************************************************************** -->
<xsd:complexType name="requestParameterType">
	<xsd:attribute name="idsAgenda" type="typ:parameterAgendaType" use="required"/>
	<xsd:attribute name="idsUserAgenda" type="typ:string10"/>
</xsd:complexType>

<xsd:complexType name="listParameterRequestType">
	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element name="requestParameter" type="lst:requestParameterType">
			<xsd:annotation>
				<xsd:documentation>Atributy urèují výbìr agend pro export parametrù. Pokud není zadán žádný, vyexportují se parametry všech agend.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="lst:listParameterRequestVerType" use="required"/>
	<xsd:attribute name="parameterVersion" type="prm:prmVersionType" use="required">
		<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listParameterRequestVerType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="listParameterType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="parameter" type="prm:parameterType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="requestUserCodeType">
	<xsd:attribute name="code" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="listUserCodeRequestType">
	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element name="requestUserCode" type="lst:requestUserCodeType">
			<xsd:annotation>
				<xsd:documentation>Atributy urèují výbìr uživatelských seznamù pro export. Pokud není zadán žádný, vyexportují se všechny uživatelské seznamy.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="xsd:string" use="required"/>		<!-- 1.1 -->
	<xsd:attribute name="listVersion" type="xsd:string" use="required">
  	<xsd:annotation>
			<xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
</xsd:complexType>

<xsd:complexType name="listUserCodeType">
	<xsd:annotation>
		<xsd:documentation>Definice uživatelského seznamu.</xsd:documentation>
	</xsd:annotation>	
	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element name="itemUserCode" type="lst:itemNameType"/>
	</xsd:sequence>
	<xsd:attribute name="version" type="xsd:string" use="required"/>
  	<xsd:attribute name="dateTimeStamp" type="xsd:dateTime"/>
  	<xsd:attribute name="dateValidFrom" type="xsd:date"/>
  	<xsd:attribute name="state" type="typ:stavType2"/>
	<xsd:attribute name="id" type="typ:idType" use="required"/>
  	<xsd:attribute name="code" type="typ:idsType" use="required"/>
	<xsd:attribute name="name" type="xsd:string" use="required"/>
	<xsd:attribute name="constants" type="typ:boolean" default="false"/>
</xsd:complexType>

<xsd:complexType name="listUserCodePackType">
	<xsd:complexContent>
		<xsd:extension base="lst:listVersionType">
			<xsd:choice>
				<xsd:element name="listUserCode" type="lst:listUserCodeType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<!-- **************************************************************************
		generic types
	 ************************************************************************** -->

<xsd:complexType name="listVersionType">
	<xsd:sequence>
	   <xsd:element name="importDetails"   type="rdc:importDetailsType"	minOccurs="0"/>
	</xsd:sequence>
  	<xsd:attribute name="version" type="xsd:string" use="required"/>
  	<xsd:attribute name="dateTimeStamp" type="xsd:dateTime" use="required"/>
  	<xsd:attribute name="dateValidFrom" type="xsd:date" use="required"/>
  	<xsd:attribute name="state" type="typ:stavType2" use="required"/>
</xsd:complexType>

<xsd:complexType name="listVersionTypeTax">
    <xsd:sequence>
      <xsd:element name="importDetails"   type="rdc:importDetailsType"	minOccurs="0"/>
      <xsd:element name="importData"  type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
    <xsd:attribute name="dateTimeStamp" type="xsd:dateTime" use="required"/>
    <xsd:attribute name="dateValidFrom" type="xsd:date" use="required"/>
    <xsd:attribute name="state" type="typ:stavType2" use="required"/>
    <xsd:attribute name="db" type="xsd:string" use="required"/>
    <xsd:attribute name="format" type="xsd:string" use="required"/>
    <xsd:attribute name="contID" type="xsd:string" use="required"/>
    <xsd:attribute name="rqFormat" type="xsd:string" use="required"/>
</xsd:complexType>

  <xsd:complexType name="itemType">
  	<xsd:attribute name="id" type="typ:idType" use="required"/>
  	<xsd:attribute name="code" type="typ:idsType" use="required"/>
</xsd:complexType>

<!-- **************************************************************************
		specific types
	 ************************************************************************** -->

<xsd:simpleType name="agendaType">
	<xsd:annotation>
		<xsd:documentation>Výèet agend, pro které se má seznam vyexportovat.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="cashReceived">
					<xsd:annotation><xsd:documentation>Pokladna pøíjem.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="cashPaid">
					<xsd:annotation><xsd:documentation>Pokladna výdej.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="internalDocument">
					<xsd:annotation><xsd:documentation>Interní doklady.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="issuedInvoice">
					<xsd:annotation><xsd:documentation>Vydané faktury.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="issuedAdvanceInvoice">
					<xsd:annotation><xsd:documentation>Vydané zálohové faktury.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="claim">
					<xsd:annotation><xsd:documentation>Ostatní pohledávky.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="receivedInvoice">
					<xsd:annotation><xsd:documentation>Pøijaté faktury.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="receivedAdvanceInvoice">
					<xsd:annotation><xsd:documentation>Pøijaté zálohové faktury.</xsd:documentation></xsd:annotation></xsd:enumeration>
		<xsd:enumeration value="commitment">
					<xsd:annotation><xsd:documentation>Ostatní závazky.</xsd:documentation></xsd:annotation></xsd:enumeration>
    <xsd:enumeration value="bankReceived">
          <xsd:annotation><xsd:documentation>Banka pøíjem.</xsd:documentation></xsd:annotation></xsd:enumeration>
    <xsd:enumeration value="bankIssued">
          <xsd:annotation><xsd:documentation>Banka výdej.</xsd:documentation></xsd:annotation></xsd:enumeration>
    <xsd:enumeration value="fixedAssets">
          <xsd:annotation><xsd:documentation>Dlouhodobý majetek.</xsd:documentation></xsd:annotation></xsd:enumeration>
    <xsd:enumeration value="leasingAssets">
          <xsd:annotation><xsd:documentation>Leasingový majetek.</xsd:documentation></xsd:annotation></xsd:enumeration>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="codeContractType">
	<xsd:annotation>
		<xsd:documentation>Øetìzcový identifikátor pøedkontace v podvojném úèetnictví.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="12"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="codeAccountingDoubleEntryType">
	<xsd:annotation>
		<xsd:documentation>Øetìzcový identifikátor zakázky.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="13"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- **************************************************************************
		implementation
	 ************************************************************************** -->

<xsd:complexType name="itemNameType">
	<xsd:complexContent>
		<xsd:extension base="lst:itemType">
	  		<xsd:attribute name="name" type="xsd:string" use="required"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="itemContractType">
  	<xsd:attribute name="id" type="typ:idType" use="required"/>
  	<xsd:attribute name="code" type="lst:codeContractType" use="required"/>
	<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="itemCashType">
	<xsd:complexContent>
		<xsd:extension base="lst:itemType">
	  		<xsd:attribute name="codeCurrency" type="xsd:string" use="required"/>
	  		<xsd:attribute name="name" type="xsd:string"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="itemAccountingTypeSingleEntry">
	<xsd:complexContent>
		<xsd:extension base="lst:itemType">
	  		<xsd:attribute name="accounting" type="xsd:string" use="required"/>
	  		<xsd:attribute name="agenda" type="xsd:string" use="required"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="itemAccountingTypeDoubleEntry">
	<xsd:complexContent>
		<xsd:extension base="lst:createAccountingType">
		  	<xsd:attribute name="id" type="xsd:integer" use="required"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="itemAccountType">
  	<xsd:attribute name="id" type="typ:idType" use="required"/>
  	<xsd:attribute name="code" type="typ:numberAccountType" use="required"/>
	<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>

<!-- ****************************************************************************** -->
<xsd:complexType name="itemStorageType">
	<xsd:annotation>
		<xsd:documentation>Export - položky èlenìní skladù.</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="subStorages" type="lst:subStoragesType" minOccurs="0"/>
	</xsd:sequence>		
  	<xsd:attribute name="id" type="xsd:integer" use="required">
	  	<xsd:annotation>
				<xsd:documentation>ID záznamu, pokud zadaný uzel v seznamu èlenìní neexistuje obsahuje hodnotu "0".</xsd:documentation>
			</xsd:annotation>
	  </xsd:attribute>
  	<xsd:attribute name="code" type="xsd:string" use="required">
	  	<xsd:annotation>
				<xsd:documentation>Název skladu (první úroveò), název vìtve (další úrovnì).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="idStore" type="typ:idType">
	  	<xsd:annotation>
				<xsd:documentation>"//lst:listStorage/lst:itemStorage" (první "itemStorage") je název skladu, následují názvy vìtví.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>  	
		<xsd:attribute name="name" type="xsd:string">
	  	<xsd:annotation>
				<xsd:documentation>Název èlenìní.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="note" type="xsd:string">
	  	<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
</xsd:complexType>

<xsd:complexType name="subStoragesType">
	<xsd:sequence>
		<xsd:element name="itemStorage" type="lst:itemStorageType" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>

<!-- prodejní ceny -->
<xsd:complexType name="itemSellingPriceType">
	<xsd:all>
		<xsd:element name="id" type="typ:idType">
			<xsd:annotation>
				<xsd:documentation>ID prodejní ceny, na tuto hodnotu se lze odkazovat v seznamu prodejních cen.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
  	<xsd:element name="code" type="xsd:string">
  		<xsd:annotation>
				<xsd:documentation>Název prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="name" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Popis prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="discountValidity" type="discountValidityType" default="pernament">
			<xsd:annotation>
				<xsd:documentation>Platnost slevy resp. vedlejší ceny mùže být trvalá nebo èasovì omezená; v tom pøípadì uveïte data platnosti do polí od a do. 
					Platnost ceny lze také pozastavit, takže se nenabízí pøi výdeji.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateFrom" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poèáteèní datum platnosti èasovì omezené prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateTill" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Koncové datum platnosti èasovì omezené prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceType" type="priceTypeType">
			<xsd:annotation>
				<xsd:documentation>Typ ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="margin" type="typ:typePercentage" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Marže %. Uveïte pøirážku k nákupní cenì v procentech v pøípadì, že používáte tento zpùsob výpoètu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rebate" type="typ:typePercentage" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Rabat %. Uveïte slevu v procentech v pøípadì, že používáte tento zpùsob výpoètu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Sleva v procentech sloužící pro výpoèet slevy ze základní prodejní ceny skladové zásoby.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>	  		
		<xsd:element name="calculation" type="calculationType" default="excludedVAT">
			<xsd:annotation>
				<xsd:documentation>Typ výpoètu. Zpùsob výpoètu ceny (s daní / bez danì) s ohledem na DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rounding" type="roundingType" default="0,1">
			<xsd:annotation>
				<xsd:documentation>Zaokrouhlení. Poèet desetinných míst zaokrouhlení (v Kè) pøi výpoètu ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="currency" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rate" type="xsd:float" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kurs.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>	  		
	</xsd:all>
</xsd:complexType>

<!-- Platnost slevy -->
<xsd:simpleType name="discountValidityType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="pernament">
			<xsd:annotation>
				<xsd:documentation>Trvalá.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="temporary">
			<xsd:annotation>
				<xsd:documentation>Èasovì omezená.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="suspended">
			<xsd:annotation>
				<xsd:documentation>Pozastavená.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!--  Typ ceny -->
<xsd:simpleType name="priceTypeType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="basicPrice">
			<xsd:annotation>
				<xsd:documentation>Základní cena. Zvolte pøi vkládání základní prodejní ceny.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="accessoryPrice">
			<xsd:annotation>
				<xsd:documentation>Vedlejší cena. Zvolte pøi vkládání vedlejší slevy.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="discount">
			<xsd:annotation>
				<xsd:documentation>Sleva. Zvolte pøi vkládání prodejní slevy.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!-- Výpoèet ceny -->
<xsd:simpleType name="calculationType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="excludedVAT">
			<xsd:annotation>
				<xsd:documentation>Bez danì.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="includedVAT">
			<xsd:annotation>
				<xsd:documentation>S daní.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!-- Zaokrouhlení -->
<xsd:simpleType name="roundingType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="0,0001"/>
		<xsd:enumeration value="0,001"/>
		<xsd:enumeration value="0,01"/>
		<xsd:enumeration value="0,1"/>
		<xsd:enumeration value="1"/>
		<xsd:enumeration value="10"/>
		<xsd:enumeration value="100"/>
		<xsd:enumeration value="1000"/>
	</xsd:restriction>
</xsd:simpleType>
<!-- End Prodejní ceny  -->

<xsd:complexType name="itemNumericSeriesType">
	<xsd:complexContent>
		<xsd:extension base="lst:itemType">
			<xsd:attribute name="name" type="xsd:string" use="required"/>
	  		<xsd:attribute name="agenda" type="xsd:string" use="required"/>
	  		<xsd:attribute name="year" type="xsd:gYear" use="required"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="createAccountingType">
  	<xsd:attribute name="code" type="lst:codeAccountingDoubleEntryType" use="required"/>
	<xsd:attribute name="accounting" type="xsd:string" use="required"/>
	<xsd:attribute name="agenda" type="lst:agendaType" use="required"/>
	<xsd:attribute name="debit" type="typ:numberAccountType" use="required"/>
	<xsd:attribute name="credit" type="typ:numberAccountType" use="required"/>
</xsd:complexType>

<xsd:complexType name="createAccountingResponseType">
	<xsd:complexContent>
		<xsd:extension base="lst:itemAccountingTypeDoubleEntry">
	  		<xsd:attribute name="state" type="typ:stavType2" use="required"/>
		  	<xsd:attribute name="note" type="xsd:string"/>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>


<!-- ****************************************************************************** -->
<xsd:complexType name="requestBalanceType">
	<xsd:all>
		<xsd:element name="dateTo" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum ke kterému je saldo sestaveno. Pokud není zadáno je použit aktuální datum.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="adjustTo" type="xsd:double" minOccurs="0" default="0.01">
			<xsd:annotation>
				<xsd:documentation>Hodnota, ke které je saldo vyrovnáno.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="groupByDoc" type="typ:boolean" minOccurs="0" default="true">
			<xsd:annotation>
				<xsd:documentation>Sestavit salda s kumulováním po dokladech.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="removeBalancedRec" type="typ:boolean" minOccurs="0" default="true">
			<xsd:annotation>
				<xsd:documentation>Odstranit záznamy vyrovnaného salda.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="pairing" type="lst:listBalancePairingType">
			<xsd:annotation>
				<xsd:documentation>Zpùsob párování.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="userFilterName" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor uživatelského filtru v požadované agendì, který má být použit pro filtraci záznamù.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
	</xsd:all>
</xsd:complexType>

<xsd:simpleType name="listBalancePairingType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="PairingSymbol">
			<xsd:annotation>
				<xsd:documentation>Párovat dle párovacího symbolu.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="PairingSymbolIC">
			<xsd:annotation>
				<xsd:documentation>Párovat dle párovacího symbolu a IÈ.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>		
	</xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<xsd:complexType name="requestCategoryType">
</xsd:complexType>

<xsd:complexType name="requestIntParamType">
</xsd:complexType>

</xsd:schema>
